---
import Layout from '../layouts/Layout.astro';
import Profile from '../components/Profile.astro';
import GitHubStats from '../components/GitHubStats.astro';
import Technologies from '../components/Technologies.astro';
import Projects from '../components/Projects.astro';
---

<Layout title="Matías San Martín M.">
  <main>
    <div id="inicio">
      <Profile />
    </div>
    
    <div id="stats" class="flex flex-col md:flex-row space-x-0 md:space-x-4 space-y-4 md:space-y-0 my-4">
      <GitHubStats />
      <Technologies />
    </div>

    <div id="proyectos">
      <Projects />
    </div>

    <div id="resume">
      <!-- Contenido adicional aquí -->
    </div>

  </main>
</Layout>
