---
import { HiAcademicCap } from "react-icons/hi2";
import { MdOutlineWork } from "react-icons/md";
---


<section class="bg-white dark:bg-gray-800 p-8 rounded-xl shadow-lg">
    <h2 class="text-2xl font-bold mb-6 text-gray-800 dark:text-white text-center select-none tracking-widest">Formación</h2>
    <!--------------------------------------------- Seccion de Formación --------------------------------------------->
    <div class="flex my-4 flex-col md:flex-row justify-center gap-4 text-center md:text-start">
        <!------------------------------------- Titulo 1 ------------------------------------->
        <div class="w-full from-gray-100 to-gray-100 hover:from-gray-200 hover:to-gray-200 bg-gradient-to-br  dark:from-gray-600 dark:to-gray-700 rounded-lg  py-4 pl-0 md:pl-8 border-neutral-300 dark:border-gray-600">
            <h4 class="text-2xl select-none font-bold text-neutral-500 dark:text-neutral-300 flex items-center gap-2 flex-col md:flex-row">
                <HiAcademicCap/>
                Lic. en Ciencias de la Ingeniería
            </h4>
            <div class="mt-6 mb-4 text-zinc-600 dark:text-zinc-300 select-none">
                <p class="font-semibold">
                    <a target="_blank" href="https://www.ubiobio.cl/">Universidad del Bío-Bío</a>
                </p>
                <p class="font-thin">2019 - 2024</p>
            </div>
        </div>
        <!------------------------------------- Titulo 2 ------------------------------------->
        <div class="w-full from-gray-100 to-gray-100 hover:from-gray-200 hover:to-gray-200 bg-gradient-to-br dark:from-gray-600 dark:to-gray-700 rounded-lg  py-4 pl-0 md:pl-8 border-neutral-300 dark:border-gray-600">
            <h4 class="text-2xl select-none font-bold text-neutral-500 dark:text-neutral-300 flex items-center gap-2 flex-col md:flex-row">
                <HiAcademicCap/>
                Ingeniería Civil en Informática
            </h4>
            <div class="mt-6 mb-4 text-zinc-600 dark:text-zinc-300 select-none tracking-widest">
                <p class="font-semibold">
                    <a target="_blank" href="https://www.ubiobio.cl/">Universidad del Bío-Bío</a>
                </p>
                <p class="font-thin">2019 - 2024</p>
            </div>
        </div>  
    </div>
    <!--------------------------------------------- Seccion de Experiencia --------------------------------------------->
    <div>
        <h2 class="text-2xl font-bold mb-6 text-gray-800 dark:text-white text-center select-none tracking-widest">Experiencia</h2>

            <div class=" from-gray-100 to-gray-100 hover:from-gray-200 hover:to-gray-200 bg-gradient-to-br  dark:from-gray-600 dark:to-gray-700 rounded-lg  py-4 pl-0 md:pl-8 border-neutral-300 dark:border-gray-600">
                <div>
                    <h4 class="text-2xl select-none font-bold text-neutral-500 dark:text-neutral-300 flex items-center gap-2 flex-col md:flex-row">
                        <MdOutlineWork/>
                        Havas Group Chile
                    </h4>
                    <p class="ml-8 text-zinc-400">Practica Profesional I & II</p>
                </div>

                <div class="mt-4 ml-8">
                    <p class=" text-zinc-400">Feb 2022 - Ago 2022</p>
                    <ul class="list-disc ml-4 p-4 space-y-2">
                        <li>Automatización y optimización de procesos diarios de reportes de publicidad.</li>
                        <li>Diseño y configuración de dashboard interactivo (PowerBI).</li>
                        <li>Modificaciones estratégicas en BBDD para establecer y solucionar inconsistencias de datos y relaciones entre tablas.</li>
                    </ul>
                </div>
            </div>


    </div>



</section>