---
import Header from "../components/Header.astro";

// Declara la interfaz Props para usar en el componente
interface Props {
  title: string;
}

// Obtén las props de Astro
const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <link rel="stylesheet" href="/styles/global.css">

    <!-- Fuente de google Montserrat -->
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"> -->
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <main class="mx-auto container px-3 py-10">
      <slot/>
    </main>
  </body>
</html>

<style is:global>
  html.dark {
    background-color: #030917;
    color: #fff;
  }

  .dark .nav-links a {
    color: #fff;
  }

  html{
    background-color: rgb(243 244 246);
    scrollbar-width: thin;
    scrollbar-color: #505464 #202c34 ;
  }
</style>
